{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}django-animal-shelter{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Your stuff: Third-party css libraries go here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'bootflat/css/bootflat.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    {% endblock %}

    {% block angular %}
    {% endblock %}

  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">django-animal-shelter</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'home' %}"><i class="fa fa-home"></i>&nbsp; Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>
            <li><a href="../navbar-fixed-top/">Fixed top</a></li>

            {% if request.user.is_authenticated %}
              <li><a href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a></li>
              <li><a class="nav-link" href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
            {% else %}
                <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
                <li><a href="{% url 'account_login' %}">{% trans "Log In" %}</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

      {% if messages %}
        <div class="container">
        <div class="row">
        <div class="col-xs-12">
        {% for message in messages %}
            <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{ message }}
            </div>
        {% endfor %}
        </div>
        </div>
        </div>
      {% endif %}

      {% block content %}
        <div class="container">
          <!-- Main component for a primary marketing message or call to action -->
          <div class="jumbotron">
            <h1>Navbar example</h1>
            <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
            <p>To see the difference between static and fixed top navbars, just scroll.</p>
            <p>
              <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs »</a>
            </p>
          </div>
        </div>
      {% endblock content %}

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    {% block footer %}
    <div class="footer">
      <div class="container">
        <div class="clearfix">
          <div class="footer-logo">
            <a href="#"><img src="img/footer-logo.png">PLACEHOLDER</a>
          </div>
          <dl class="footer-nav">
            <dt class="nav-title">PORTFOLIO</dt>
            <dd class="nav-item"><a href="#">Web Design</a></dd>
            <dd class="nav-item"><a href="#">Branding &amp; Identity</a></dd>
            <dd class="nav-item"><a href="#">Mobile Design</a></dd>
            <dd class="nav-item"><a href="#">Print</a></dd>
            <dd class="nav-item"><a href="#">User Interface</a></dd>
          </dl>
          <dl class="footer-nav">
            <dt class="nav-title">ABOUT</dt>
            <dd class="nav-item"><a href="#">The Company</a></dd>
            <dd class="nav-item"><a href="#">History</a></dd>
            <dd class="nav-item"><a href="#">Vision</a></dd>
          </dl>
          <dl class="footer-nav">
            <dt class="nav-title">SOCIAL MEDIA</dt>
            <!-- use 'fw' fix-width class on icons when different icon widths throw off alignment with text -->
            <dd class="nav-item"><a href="#"><i class="fa fa-facebook fa-fw"></i>&nbsp; Facebook</a></dd>
            <dd class="nav-item"><a href="#"><i class="fa fa-twitter fa-fw"></i>&nbsp; Twitter</a></dd>
            <dd class="nav-item"><a href="#"><i class="fa fa-github fa-fw"></i>&nbsp; GitHub</a></dd>
          </dl>
          <dl class="footer-nav">
            <dt class="nav-title">CONTACT</dt>
            <dd class="nav-item"><a href="#">Basic Info</a></dd>
            <dd class="nav-item"><a href="#">Map</a></dd>
            <dd class="nav-item"><a href="#">Conctact Form</a></dd>
        </div>
        <div class="footer-copyright text-center">Copyright © 2014 PLACEHOLDER.All rights reserved.</div>
      </div>
    </div>
    {% endblock footer %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      <!-- Latest JQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->
      <script src="{% static 'bootflat/js/icheck.min.js' %}"></script>
      <script src="{% static 'bootflat/js/jquery.fs.stepper.min.js' %}"></script>
      <script src="{% static 'bootflat/js/jquery.fs.selecter.min.js' %}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>

      <!-- place project specific Javascript in this file -->
      <script src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}
  </body>
</html>
 
